* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

.navbar {
  background-color: #ff7171;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar ul li {
  margin: 0 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.fa-reorder {
  font-size: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
}

.col {
  text-align: center;
}

.col .desc {
  text-align: center;
  margin: 1rem;
}

.col2 img {
  max-width: 100%;
  height: auto;
}

.hero-heading {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-bottom: 2rem;
}

.button-div {
  text-align: center;
}

.click-me {
  background-color: #ff7171;
  border: none;
  color: white;
  margin-top: 2rem;
  padding: 0.9rem 4rem;
}

.second-block {
  display: flex;
  flex-direction: column;
}

.img1 img,
.img2 img {
  max-width: 100%;
  height: auto;
}

.outer-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer-section img {
  padding: 0.5rem;
}

.sec-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: #ff7171;
  text-align: center;
}

.sec-row .heading {
  font-size: 1rem;
}

.sec-row .lower-heading {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-weight: 500;
}

.sec-row .click {
  padding-top: 1rem;
}

.footer {
  background-color: #ff7171;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
